/TicTacToe-Client/dist/
/TicTacToe-Client/build/


/TicTacToe-Server/build/
TicTacToe-Client/dist/TicTacToe-Client.html
TicTacToe-Client/dist/TicTacToe-Client.html
TicTacToe-Client/dist/TicTacToe-Client.jnlp
TicTacToe-Client/dist/TicTacToe-Client.jnlp
*.properties
*.properties
*.html
TicTacToe-Client/dist/TicTacToe-Client.html
TicTacToe-Server/build/classes/tictactoe/server/DataAccessmethods.class
*.class
*.jar
TicTacToe-Client/dist/TicTacToe-Client.html
TicTacToe-Client/dist/TicTacToe-Client.jar
TicTacToe-Client/dist/TicTacToe-Client.jnlp
*.properties
*.class
*.class
TicTacToe-Server/dist/TicTacToe-Server.html
*.properties
*.class
*.class
TicTacToe-Client/build/built-jar.properties
TicTacToe-Server/dist/run1027958160/TicTacToe-Server.jnlp
TicTacToe-Server/dist/run1027958160/web-files/dtjava.js
*.png
*.properties
*.class
TicTacToe-Client/build/classes/tictactoe/client/TicTacToeClient.class
*.html
*.jnlp
*.jnlp
TicTacToe-Server/dist/run1027958160/TicTacToe-Server.jnlp
*.jnlp
*.js
TicTacToe-Server/dist/run1027958160/web-files/dtjava.js
TicTacToe-Server/dist/run1027958160/TicTacToe-Server.jnlp
*.jnlp
*.png
*.png
*.png
